@page "/fetchdata"

@*@using PizzaOnlineFront.Data
@using PizzaOnline2.BLL.Services;
@using PizzaOnline.DAL.Entities;
@inject WeatherForecastService ForecastService
@inject DeliveryService DeliveryService*@

    <h1>Deliveries</h1>

<p>This component demonstrates fetching data from a service.</p>

@*@if (delivery == null)
{
<p><em>Loading...</em></p>
}*@
@*else
{*@
    <table class="table">
        <thead>
            <tr>
                <th>NameDelivery</th>
                <th>Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var delivery in delivery)
            {
                <tr>
                    <td>@delivery.NameDelivery</td>
                    <td>@delivery.Time</td>
                    <td>@delivery.Price</td>
                </tr>
            }*@
        </tbody>
    </table>
@*}*@

@code {
    //private Delivery[] delivery;

    //protected async Task OnInitializedAsync()
    //{
    //     await DeliveryService.GetAll();
    //}
}
